body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #00224D;
    display: flex;
    flex-direction: column;
}

.title{
    text-align: center;
    background-color: white;
    margin: 0 2% 15%;
    height: 100px;
    font-size: 235%;
    font-family: "Press Start 2P";
    padding-top: 2%;
    background-color: #26355D;
    color: #06D001;
}

.display{
    background-color: white;
    text-align: center;
    margin: 0 3% 10%;
    height: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    
}

.result{
    font-size: 300%;
    margin: 0;
    font-family: "Orbitron";
}

.main-container{
    display: flex;
    justify-content: space-evenly;
}

input{
    width: 90%;
}

.input-box{
    height: 50%;
    font-family: 'Montserrat';
    font-size: large;
}


/* Left side of the calculator. */

.prefix{
    text-align: center;
    align-items: center;
    height: 200px;
}

.prefix-instructions{
    width: 90%;
    background-color: white;
    margin: auto;
}


/* Right side of the calculator. */

.postfix{
    text-align: center;
    height: 200px;
}

.postfix-instructions{
    background-color: white;
    width: 90%;
    margin: auto;
}

i{
    color: black;
}

/* Lower Buttons */

.functionality-buttons{
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 25%;
    margin-top: 10%;
}

.calculate-button{
    background-color: white;
    margin: 10%;
    height: 70px;
    border-radius: 100px;
}

.fa-calculator{
    margin: auto;
}

.toggle-button{
    background-color: white;
    margin: 10%;
    height: 70px;
    border-radius: 100px;
}

.night-day{
    background-color: white;
    margin: 10%;
    height: 70px;
    border-radius: 100px;
}