body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #00224D;
    display: flex;
    flex-direction: column;
}

.title{
    text-align: center;
    background-color: white;
    margin: 0 2% 15%;
    height: 100px;
    font-size: 235%;
    font-family: "Press Start 2P";
    padding-top: 2%;
    background-color: #26355D;
    color: #06D001;
}

.display{
    background-color: #DBD3D3;
    text-align: center;
    margin: 0 3% 10%;
    height: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    
}

.result{
    font-size: 300%;
    margin: 0;
    font-family: "Orbitron";
    font-weight: 900;
    color: #7E2553;
}

.main-container{
    display: flex;
    justify-content: space-evenly;
}

input{
    width: 90%;
    background-color: #DBD3D3;
    color: #7E2553;
}

.input-box{
    height: 100px;
    font-family: 'Montserrat';
    font-size: large;
    font-weight: 750;
}


/* Left side of the calculator. */

.prefix{
    text-align: center;
    height: 150px;
    background-color: #FF204E;
    padding: 1%;
    height: fit-content;
}


.prefix-instructions{
    width: 90%;
    background-color: #000000;
    margin: auto;
    font-family: "Roboto Slab" ;
    color: white;
    text-align: center;
    
}


/* Right side of the calculator. */

.postfix{
    text-align: center;
    height: 150px;
    background-color: #FF204E;
    padding: 1%;
    height: fit-content;
}

.postfix-instructions{
    background-color: #000000;
    width: 90%;
    margin: auto;
    font-family: "Roboto Slab" ;
    color: white;
}

i{
    color: black;
}

/* Lower Buttons */

.functionality-buttons{
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 25%;
    margin-top: 10%;
}

.calculate-button{
    background-color: white;
    margin: 10%;
    height: 70px;
    border-radius: 100px;
}

.calculate-button:hover{
    background-color: white;
    margin: 10%;
    height: 70px;
    border-radius: 100px;
    box-shadow: 0px 0px 5px 10px #FF204E;
}

.fa{
    margin-top: 15%;
}

.toggle-button{
    background-color: white;
    margin: 10%;
    height: 70px;
    border-radius: 100px;
}

.toggle-button:hover{
    background-color: white;
    margin: 10%;
    height: 70px;
    border-radius: 100px;
    box-shadow: 0px 0px 5px 10px #FF204E;
}

.night-day{
    background-color: white;
    margin: 10%;
    height: 70px;
    border-radius: 100px;
}

.night-day:hover{
    background-color: white;
    margin: 10%;
    height: 70px;
    border-radius: 100px;
    box-shadow: 0px 0px 5px 10px #FF204E;
}

.clear-button{
    background-color: white;
    margin: 10%;
    height: 70px;
    border-radius: 100px;
}

.clear-button:hover{
    background-color: white;
    margin: 10%;
    height: 70px;
    border-radius: 100px;
    box-shadow: 0px 0px 5px 10px #FF204E;
}